<html>

<body>
    <template id="templateBusqueda">
    <p>
    <div>
      <input type="text" placeholder="ISBN" required="" id="isbn" />
    </div>
    <div>
      <input type="text" placeholder="Titulo del libro" required="" id="titulo" />
    </div>
    <div>
      <input type="text" placeholder="Autor del libro" required="" id="autor" />
    </div>
    <div>
      <button id="btnSearch" value="Buscar">Buscar</button>
    </div>
  </p>
  </template>


    <script>
        var mainDoc = document.currentScript.ownerDocument;
        var template = mainDoc.querySelector('template');



        // Create a new object based of the HTMLElement prototype
        var rociBusquedaPrototype = Object.create(HTMLElement.prototype);

        function loadJSON(file, callback) {

            var xobj = new XMLHttpRequest();
            xobj.overrideMimeType("application/json");
            xobj.open('GET', file, true); // Replace 'my_data' with the path to your file
            xobj.onreadystatechange = function() {
                if (xobj.readyState == 4 && xobj.status == "200") {
                    // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
                    callback(xobj.responseText);
                }
            };
            xobj.send(null);
        }

        // Set up the element.
        rociBusquedaPrototype.createdCallback = function() {
            var root = this.createShadowRoot();
            var clone = document.importNode(template.content, true);
            var urlJson = this.getAttribute('data-origin');
            var arrayLibros = "";
            root.appendChild(clone);



            var boton = root.querySelector("button");

            boton.addEventListener('click', function(e) {



              loadJSON(urlJson, function(response) {
                  arrayLibros = JSON.parse(response);
                  var evento = new CustomEvent("getLibros", {
                      detail: {arrayLibros: arrayLibros.books},
                      bubbles: true,
                      cancelable: true
                  });
                  console.log("envio evento getConsulta desde roci-busqueda")
                  document.dispatchEvent(evento);
              });


            });
        };


        // Register the new element.
        var rociBusqueda = document.registerElement('roci-busqueda', {
            prototype: rociBusquedaPrototype
        });


    </script>
</body>

</html>
