<html>

<body>
    <template id="templateLista">

      <article>
          <roci-libro data-isbn="" data-titulo="" data-autor=""></roci-libro>
      </article>
      <hr>
  </template>
    <script>

        var componentDoc = document.currentScript.ownerDocument;

        // Create a new object based of the HTMLElement prototype
        var rociListaPrototype = Object.create(HTMLElement.prototype);

        // Set up the element.
        rociListaPrototype.createdCallback = function() {
            var root = this.createShadowRoot();

            document.addEventListener("getLibros", function(e){
              //Limpio libros

              console.log("recibo array de libros");
              var arrayLibros = e.detail.arrayLibros;

              for (var i in arrayLibros) {

                  var template = componentDoc.querySelector('#templateLista');
                  var rociLibro = template.content.querySelector("roci-libro");

                  rociLibro.setAttribute("data-isbn", arrayLibros[i].isbn);
                  rociLibro.setAttribute("data-titulo", arrayLibros[i].titulo);
                  rociLibro.setAttribute("data-autor", arrayLibros[i].autor);
                  var clone = componentDoc.importNode(rociLibro, true);

                  root.appendChild(clone);
              }

            });
        };

        // Register the new element.
        var rociLista = document.registerElement('roci-lista', {
            prototype: rociListaPrototype
        });
    </script>
</body>

</html>
