<html>

<body>
    <template id="templateBusqueda">
    <p>
    <div>
      <input type="text" placeholder="ISBN" required="" id="isbn" />
    </div>
    <div>
      <input type="text" placeholder="Titulo del libro" required="" id="titulo" />
    </div>
    <div>
      <input type="text" placeholder="Autor del libro" required="" id="autor" />
    </div>
    <div>
      <button id="btnSearch" value="Buscar">Buscar</button>
    </div>
  </p>
  </template>


    <script>
        //dom de mi componente
        var mainDoc = document.currentScript.ownerDocument;
        //obtengo la plantilla del componente
        var template = mainDoc.querySelector('template');

        // Constructor del componente
        var rociBusquedaPrototype = Object.create(HTMLElement.prototype);

        function loadJSON(file, callback) {

            var xobj = new XMLHttpRequest();
            xobj.overrideMimeType("application/json");
            xobj.open('GET', file, true); // Replace 'my_data' with the path to your file
            xobj.onreadystatechange = function() {
                if (xobj.readyState == 4 && xobj.status == "200") {
                    // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
                    callback(xobj.responseText);
                }
            };
            xobj.send(null);
        }

        // Configuro el comportamiento del componente
        rociBusquedaPrototype.createdCallback = function() {
            var arrayLibros = "";
            //Creo el shadoRoot del componente
            var root = this.createShadowRoot();
            //Añado el template al shadowRoot
            var clone = document.importNode(template.content, true);
            root.appendChild(clone);

            //Acceso a propiedad data-origin del componente
            var urlJson = this.getAttribute('data-origin');

            //Listener sobre el boton del componente
            var boton = root.querySelector("button");
            boton.addEventListener('click', function(e) {
              //Promesa para obtener los datos del json
              loadJSON(urlJson, function(response) {
                  //Aplico filtro sobre el json
                  arrayLibros = JSON.parse(response);
                  var filtro = _.filter(arrayLibros.books, { 'isbn': 'X999_Y998'});
                  var evento = new CustomEvent("getLibros", {
                      detail: {arrayLibros: filtro},
                      bubbles: true,
                      cancelable: true
                  });
                  console.log("envio evento getConsulta desde roci-busqueda")
                  document.dispatchEvent(evento);
              });


            });
        };


        // Registro el nuevo componente.
        var rociBusqueda = document.registerElement('roci-busqueda', {
            prototype: rociBusquedaPrototype
        });


    </script>
</body>

</html>
