<html>

<body>
    <template id="templateBusqueda">
    <style>
    input[type="text"] {
    background-color: #eaeaea;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    padding: 10px 10px;
    width: 20%;
  }

  input[type="submit"] {
    font: 16px/1.6 Arial, sans-serif;
    color: white;
    background: cornflowerblue;
    border: 1px solid #1f66e5;
    border-radius: 4px;
    padding: 10px 10px;
    width: 100%;
  }
    </style>
    <p>
      <form>
    <div class="form-group">
        <label for="isbn">ISBN: </label>
        <input type="text" class="form-control" value="" placeholder="ISBN"  id="isbn" />
    </div>
    <div>
        <label for="titulo">Titulo: </label>
        <input type="text" value="" placeholder="Titulo del libro"  id="titulo" />
    </div>
    <div>
        <label for="autor">Autor: </label>
        <input type="text" value="" placeholder="Autor del libro"  id="autor" />
    </div>
    <div>
        <button id="btnSearch" type="submit" value="Buscar">Buscar</button>
    </div>
  </form>
</p>
  </template>


    <script>
        //dom de mi componente
        var mainDoc = document.currentScript.ownerDocument;
        //obtengo la plantilla del componente
        var template = mainDoc.querySelector('template');
        // Constructor del componente
        var rociBusquedaPrototype = Object.create(HTMLElement.prototype);

        function loadJSON(file, callback) {

            var xobj = new XMLHttpRequest();
            xobj.overrideMimeType("application/json");
            xobj.open('GET', file, true); // Replace 'my_data' with the path to your file
            xobj.onreadystatechange = function() {
                if (xobj.readyState == 4 && xobj.status == "200") {
                    // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
                    callback(xobj.responseText);
                }
            };
            xobj.send(null);
        }

        // Configuro el comportamiento del componente
        rociBusquedaPrototype.createdCallback = function() {
            var arrayLibros = "";
            //Creo el shadoRoot del componente
            var root = this.createShadowRoot();
            //Añado el template al shadowRoot
            var clone = document.importNode(template.content, true);
            root.appendChild(clone);

            //Acceso a propiedad data-origin del componente
            var urlJson = this.getAttribute('data-origin');


            //Listener sobre el boton del componente
            var formulario = root.querySelector("form");
            formulario.addEventListener('submit', function(e) {
              e.preventDefault();
                //Promesa para obtener los datos del json
                loadJSON(urlJson, function(response) {
                    //Aplico filtro sobre el json
                    arrayLibros = JSON.parse(response);
                    var filterLibros = {};
                    var fIsbn = root.querySelector("#isbn").value;
                    if (fIsbn!=""){
                      filterLibros.isbn = fIsbn;
                    }
                    var fTitulo = root.querySelector("#titulo").value;
                    if (fTitulo!=""){
                      filterLibros.titulo = fTitulo;
                    }
                    var fAutor = root.querySelector("#autor").value;
                    if (fAutor!=""){
                      filterLibros.autor = fAutor;
                    }

                    var resultFiltro = _.filter(arrayLibros.books, filterLibros);
                    var evento = new CustomEvent("getLibros", {
                        detail: {
                            arrayLibros: resultFiltro
                        },
                        bubbles: true,
                        cancelable: true
                    });
                    console.log("envio evento getConsulta desde roci-busqueda")
                    document.dispatchEvent(evento);
                });


            });
        };
        
        // Registro el nuevo componente.
        var rociBusqueda = document.registerElement('roci-busqueda', {
            prototype: rociBusquedaPrototype
        });
    </script>
</body>

</html>
