/*.flex-container{
  display:flex
}
.flex-children{
  border: 8px solid black;
  flex-flow:column;
  padding:20px
}*/

.reveal section img{
  border: 0px;
}

.highlight-yellow{
  background-color:yellow
}
